<div class="header-container">
  <div class="button-container">
    <button mat-mini-fab class="add-button" matTooltip="Thêm tài liệu mới" [matTooltipShowDelay]="500">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div class="left">
    <div class="top-left">
      <input class="docName-input" />
      <mat-chip class="status-success">
        <span class="status-text">Đã lưu</span>
      </mat-chip>
      <mat-chip class="status-inprocess">
        <span class="status-text">Đang lưu</span>
      </mat-chip>
      <mat-chip class="status-fail">
        <span class="status-text">Chưa lưu</span>
      </mat-chip>
    </div>
    <div class="bottom-left">
      <button mat-button [matMenuTriggerFor]="menuFile">Tệp</button>
      <button mat-button [matMenuTriggerFor]="menuWatch">Xem</button>
      <button mat-button [matMenuTriggerFor]="menuAccessControl">Quản lý truy cập</button>
    </div>
  </div>
  <div class="right">
    <div class="top-right">
      <span>Sửa đổi vào lúc 15:30 31/12/2022</span>

    </div>
    <div class="bottom-right">
      <button><mat-icon></mat-icon></button>
      <div>+4</div>
      <img src="../../../../../assets/pngwing.com.png" alt="user avatar" class="user-avatar">
      <img src="../../../../../assets/pngwing.com.png" alt="user avatar" class="user-avatar">
      <img src="../../../../../assets/pngwing.com.png" alt="user avatar" class="user-avatar">
      <img src="../../../../../assets/pngwing.com.png" alt="user avatar" class="user-avatar">

    </div>
  </div>
</div>
<div class="main-container">
  <div>
    <ejs-richtexteditor #docValue [toolbarSettings]="customToolBar" [value]="(document$|async)?.documentString"
      (focus)="edit=!edit" (keydown)="edit?test($event):''">
      <ng-template></ng-template>
    </ejs-richtexteditor>
  </div>
  <button (click)="save()">Lưu</button>

</div>
<mat-menu #menuFile="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<mat-menu #menuWatch="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<mat-menu #menuAccessControl="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
