<div class="header-container" *ngIf="this.currentDocumentData">
  <div class="button-container">
    <button mat-mini-fab class="add-button" matTooltip="Quay lại" [matTooltipShowDelay]="500" (click)="backNavigate()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div class="left">
    <div class="top-left">
      <input class="docName-input" [(ngModel)]="this.currentDocumentData.name"/>
      <mat-chip class="status-success">
        <span class="status-text">Đã lưu</span>
      </mat-chip>
      <mat-chip class="status-inprocess">
        <span class="status-text">Đang lưu</span>
      </mat-chip>
      <mat-chip class="status-fail">
        <span class="status-text">Chưa lưu</span>
      </mat-chip>
    </div>
    <div class="bottom-left">
      <button mat-button [matMenuTriggerFor]="menuFile">Tệp</button>
      <button mat-button [matMenuTriggerFor]="menuWatch">Xem</button>
      <button mat-button [matMenuTriggerFor]="menuAccessControl">Quản lý truy cập</button>
    </div>
  </div>
  <div class="right">
    <div class="top-right">
      <span>Sửa đổi vào lúc {{getDate(this.currentDocumentData.modifiedDate)}}</span>

    </div>
    <div class="bottom-right">
      <!-- <button><mat-icon></mat-icon></button> -->
      <div *ngIf="this.users.length>4">{{this.users.length-4}}</div>
      <div  *ngFor="let user of this.users |slice:0:4" [matTooltip]="user.name" [matTooltipShowDelay]="500">
        <img [src]="user.photoURL" (error)="updateUrl($event)" alt="user avatar" class="user-avatar">
      </div>

    </div>
  </div>
</div>
<div class="main-container">
  <div>
    <ejs-richtexteditor [enabled]="this.editable"  #docValue [toolbarSettings]="customToolBar" [value]="(document$|async)?.documentString"
      (focus)="edit=!edit" (change)="edit?onEdit($event):''">
      <ng-template></ng-template>
    </ejs-richtexteditor>
  </div>


</div>
<mat-menu #menuFile="matMenu">
  <button mat-menu-item (click)="this.save()">Lưu</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<mat-menu #menuWatch="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<mat-menu #menuAccessControl="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
