.user-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
}

.header-container {
  display: flex;
  padding: 1%;
  align-items: center;
}

.left,
.right {
  width: 47.5%;

}
.right {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}

.top-left {
  display: flex;

}

.bottom-left {}

.top-right {}

.bottom-right {
  display: flex;
  justify-content: center;

}


.button-container {
  width: 5%;
}

.docName-input {
  width: 70%;
  border: none;
  border-radius: var(--input-radius);
  padding: 1%;
  margin: 0 0 1% 0;
}
.status-text{
  margin: 0 0 2% 1%;
  color:white;
  text-align: center;
  font-size: var(--normal-text);
}
.status.success{
  background-color:var(--main-color)!important;
}
.status.fail{
  background-color:var(--red-color)!important;
}
.status.inprocess{
  background-color:var(--yellow-color)!important;
}

