<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar class="toolbar">
   <div class="left">
    <button class="menu-button" mat-icon-button (click)="snav.toggle()"><mat-icon >menu</mat-icon></button>
    <h1 class="app-name">WORD TOGETHER</h1>
   </div>
   <div class="right" *ngIf="(this.auth|async)?.auth">
    <div class="user-detail">
      <span class="user-name">{{(this.auth|async)?.auth?.userName}}</span>
      <br>
      <span class="user-email">{{(this.auth|async)?.auth?.email}}</span>

    </div>
    <img src={{(this.auth|async)?.auth?.photoURL}} alt="user avatar" class="user-avatar">
   </div>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0"  >
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <div mat-list-item class="header-container"*ngFor="let item of this.menuItems" (click)="navigate(item.link)">
          <mat-icon aria-hidden="false"  >{{item.icon}}</mat-icon><span>{{item.name}}</span>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
