.spinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 20px solid rgba(255, 255, 255, 0.1);
  border-top-color: var(--secondary-color);
  animation: spin 1s linear infinite;


}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.spinnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

}
.spinnerContainerAbsolute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, -50%);

}
